$bgColorOne: #111315;
$bgColorTwo: #30353c;
$bgColorThree: #c9c9c9;

$textColorOne: #eeeeee;
$textColorTwo: #888888;

$primary: #2a86ff;
$secondary: #5529ff;
$blackDark: #111315;
$blackLight: #30353c;
$white: #eeeeee;
