@use 'colors' as c;

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.PrimaryColor {
	color: c.$primary;
}

.textColor {
	color: c.$textColorOne;
}

.textColorTwo{
	color: c.$secondary;
}

.ptb {
	padding: 4em 0;
}
