@use 'colors' as c;
@use 'components' as *;
@use 'animations' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf');
	src: url('../fonts/Poppins-SemiBold.ttf');
	src: url('../fonts/Poppins-Bold.ttf');
}

body,
button {
	font-family: 'Poppins', sans-serif;
}

body {
	font-size: 1.6rem;
	color: c.$textColorOne;
	background-color: c.$bgColorOne;
}

a {
	color: c.$textColorOne;
	text-decoration: none;
}

.nav {
	position: sticky;
	top: 0;
	left: 0;
	background-color: c.$bgColorOne;
	z-index: 100;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1em;
		height: 60px;
	}

	&__logo {
		font-size: 2.8rem;
		font-weight: 600;
	}

	&__menu {
		position: absolute;
		top: 60px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		height: calc(100svh - 60px);
		width: 100%;
		translate: -150% 0;
		transition: translate 0.3s;
		background-color: c.$bgColorOne;

		&--active {
			translate: 0;
		}
	}

	&__bars {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 5px;
		width: 40px;
		height: 40px;
		background: none;
		border: none;

		&--active {
			.nav__bars-line:nth-child(1) {
				rotate: -45deg;
				translate: 0 8px;
			}

			.nav__bars-line:nth-child(2) {
				opacity: 0;
			}

			.nav__bars-line:nth-child(3) {
				rotate: 45deg;
				translate: 0 -8px;
			}
		}
	}

	&__bars-line {
		width: 25px;
		height: 3px;
		border-radius: 10px;
		background-color: c.$white;
		transition: rotate 0.3s, translate 0.3s 0.1s, opacity 0.3s;
	}
}

.header {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: calc(100svh - 60px);
		text-align: center;
		color: c.$textColorTwo;
	}

	&__btn {
		display: block;
		margin-top: 4em;
		padding: 0.5em 1em;
		font-size: 1.8rem;
		border-radius: 10px;
		border: none;
		color: c.$textColorOne;
		background-color: c.$secondary;
	}
}

.advantages {
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 80px 0;
	}

	&__card {
		padding: 1em;
		max-width: 280px;
		text-align: center;
		border: 3px solid c.$bgColorTwo;
		border-radius: 10px;
		overflow: hidden;
	}

	&__icon {
		position: relative;
		font-size: 4.2rem;
		color: c.$primary;
	}

	&__title {
		margin: 1em 0 1.5em 0;
	}
}

.about {
	text-align: center;
	color: c.$blackDark;
	background-color: c.$white;

	&__title {
		margin-bottom: 2em;
		font-size: 2.4rem;
	}

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0 1em;
	}

	&__text {
		max-width: 320px;
	}

	&__middle {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 2em 0;
	}

	&__middle-text {
		margin: 2em 0;
		font-size: 2rem;
		font-weight: bold;
	}

	&__line {
		width: 3px;
		height: 80px;
		background-color: c.$bgColorOne;
	}
}

.offers {
	&__title {
		margin-bottom: 2em;
		font-size: 2.4rem;
		text-align: center;
	}

	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 50px 0;
	}

	&__card {
		padding: 1em;
		background-color: c.$bgColorTwo;
		border-radius: 10px;

		&--middle {
			color: c.$blackDark;
			background-color: c.$white;
		}
	}

	&__type {
		font-weight: 600;
	}

	&__cost {
		margin: 1em 0;
		font-size: 2.4rem;
	}

	&__list {
		font-size: 1.8rem;
		list-style: none;

		i {
			margin-right: 0.5em;
			font-size: 2rem;
			color: c.$primary;
		}
	}

	&__list-item {
		margin-bottom: 0.5em;

		&:nth-last-child(1) {
			margin-bottom: 0;
		}
	}

	&__btn {
		display: block;
		margin: 2em 0 1em 0;
		padding: 0.5em 1em;
		width: clamp(100px, 120px, 140px);
		font-size: 1.8rem;
		border-radius: 10px;
		border: none;

		&--left,
		&--right {
			color: c.$blackDark;
		}

		&--middle {
			color: c.$white;
			background-color: c.$blackDark;
		}
	}

	&__link {
		padding: 4em 1em 0 1em;
		text-align: center;

		a {
			display: block;
			margin-top: 2em;
			color: c.$secondary;
		}
	}
}

.contact {
	color: c.$blackDark;
	background-color: c.$white;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 1em 3em 1em;
		min-height: 55svh;
		text-align: center;
	}

	&__text {
		font-size: 2.2rem;
		font-weight: 900;

		&--two {
			margin-top: 3.5em;
			font-size: 1.8rem;
		}
	}
}

.footer {
	padding: 1em 2em;
	font-size: 2rem;
	text-align: center;
	color: c.$blackDark;
	background-color: c.$bgColorThree;
}

//?===========
//?MEDIA QUERES
//?===========

@media (min-width: 768px) {
	.nav {
		&__container {
			height: 80px;
		}

		&__logo {
			font-size: 3.2rem;
		}

		&__menu {
			position: static;
			justify-content: flex-end;
			flex-direction: row;
			height: 80px;
			translate: 0;
		}

		&__menu-item {
			margin-left: 1.5em;
		}

		&__bars {
			display: none;
		}
	}

	.header {
		&__container {
			min-height: calc(100svh - 80px);
		}

		&__title {
			font-size: 4.2rem;
		}

		&__btn {
			margin-top: 6em;
			font-size: 2rem;
		}
	}

	.advantages {
		&__container {
			align-items: stretch;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 50px;
		}
	}

	.about {
		&__text {
			max-width: 360px;
		}
	}

	.offers {
		&__container {
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 50px;
		}

		&__card--middle {
			order: 3;
		}

		&__card--right {
			order: 2;
		}
	}

	.contact {
		&__container {
			min-height: 60svh;
		}

		&__text {
			font-size: 2.8rem;

			&--two {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__menu-item {
			transition: color 0.3s;

			&:hover {
				color: c.$primary;
			}
		}
	}

	.header {
		display: flex;
		justify-content: center;

		&__container {
			max-width: 800px;
		}

		&__title {
			font-size: 5.6rem;
		}
	}

	.advantages {
		&__card {
			max-width: 360px;
		}
	}

	.about {
		&__text {
			max-width: 480px;
		}

		&__middle {
			flex-direction: row;
			gap: 0 50px;
		}
	}

	.offers {
		min-height: 100svh;

		&__container {
			gap: 100px;
		}

		&__card {
			&--middle {
				order: 2;
			}

			&--right {
				order: 3;
			}
		}

		&__btn {
			transition: color 0.3s, background-color 0.3s;

			&--left:hover,
			&--right:hover {
				color: c.$white;
				background-color: c.$blackDark;
			}

			&--middle:hover {
				background-color: c.$primary;
			}
		}

		&__link {
			padding: 6em 1em 0 1em;
			font-size: 2rem;

			a {
				transition: color 0.3s;

				&:hover {
					color: c.$primary;
				}
			}
		}
	}
}
